# Author:  Niels A.D.
# Project: goop (https://github.com/nielsAD/goop)
# License: Mozilla Public License, v2.0

[Capi.Gateways.BNet]
    # Register your bot on Battle.net with /register-bot and
    # replace the zeroes with the API key you receive per email.
    APIKey = "00000000000000000000000000000000000000000000000000000000"

    # Assign roles to users. Pick one of:
    # owner,admin,operator,whitelist,voice,ignore,kick,ban,blacklist
    AccessUser = { niels = "owner", grubby = "admin" }

# Load update plugin to notify owner role when update is available.
[[Plugins]]
    Path = "./plugins/update.lua"

